      <div class="navbar navbar-expand-sm bg-light justify-content-center">
        <h1 class="text-primary">Sedronar</h1>
      </div>
          <div class="container p-3 my-3 bg-primary text-white">
          <a href="{{ url('app_login') }}" class="btn text-white">Ingresar</a>
          <a href="{{ url('user_new') }}" class="btn text-white">Registrar</a>
          <a href="{{ url('home') }}" class="btn text-white">¿Que es bolsa de trabajo?</a>
          </div>



